.external {
  height: 100vh;
  gap: 3rem;
  display: flex;
  flex-direction: column;
}

.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.brand-container {
  display: flex;
  align-items: center;
}

.small-logo {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
  background-color: #3451ff;
  border-radius: 50%;
  height: 4.5rem;
  width: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
  margin-bottom: 0;
}

.hello {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0;
}

.nav-icons {
  width: 1.12rem;
  margin-right: 0.5rem;
}

.veja {
  font-weight: 600;
  font-size: 1.5rem;
}

.chart-container {
  border: 1px solid #ccc;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 1px 1px 13px rgba(0, 0, 0, 0.25);
}

.chart-title {
  font-size: 0.7rem;
}

.destaques {
  font-size: 1.5rem;
  font-weight: 600;
}

.lugares {
  font-size: 0.8rem;
}
